<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#footer-navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">
          Toggle navigation
        </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">
        <a href="http://railstutorial.org/">Rails Tutorial</a>
        by Michael Hartl
      </p>
    </div>

    <div class="navbar-collapse collapse" id="footer-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="http://news.railstutorial.org/">News</a></li>
      </ul>
    </div>
  </div>
</footer>
